@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.logo-png img{
    width: 20px;
    height: 20px;
}
.hero-section{
    padding-top: 50px;
}
.hero-section h1{
    font-size: 56px;
}
.section-two{
    padding-top: 50px;
    padding-bottom: 80px;
}
.icon img{
    width: 20px;
    height: 20px;
}
.subcrube{
    background-color: #E7F7FD;
    padding: 40px 30px;
    margin-top: 45px;
    border-radius: 10px;

}
.subcrube img{
    width: 20px;
    height: 20px;
}
.message{
    background: transparent;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none;
}
.message input{
    border: none;
    outline: none;
}
.message input ::placeholder{
    font-size: 16px;
}
.object{
    background-image: url(./Image/OBJECTS.png);
    width: 122px;
    height: 122px;
    background-repeat: no-repeat;
    background-position: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin: 0 auto;
}
.object-one{
    padding: 30px;
}
.square {
    border-radius: 10px;
    background: rgba(248, 197, 41, 0.12);
}
.square-one img{
    width: 306px;
    height: auto;
}
.figma{
    background-color: #E7F7FD;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0px;
}
.section-three{
    padding-bottom: 80px;
}
.section-four{
    background-color: #E7F7FD;
}
.phone-section{
    padding-top: 70px;
}
.footer-section{
    padding: 100px 0px;
}
.secetion-2{
    padding-top: 60px;
}
.price{
    background-color: #E7F7FD;
}
.section-3{
    padding: 80px 0px;
}
.accunt{
    background-color: #E7F7FD;
    width: 220px;
    height: 140px;
    border-radius: 10px;
}
.table-bg {
    background-color: #E7F7FD !important;
}
.contact input{
    padding: 15px 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    outline: none;
}

#accordion-Account .accordion-item{
    border: none !important;
}
#accordion-button .accordion-button:not(.collapsed){
    color: rgb(13,202,240) !important;
    background-color: transparent !important;
}




@media (max-width:576px){
    .hero-section h1{
        font-size: 35px;
    }

}